{% extends "lanternapp/base.html" %}

{% block content %}

	<ul class="nav nav-tabs nav-justified manage-nav">
			<li role="presentation"><a href="{% url "settings" %}">Account Settings</a></li>
			<li role="presentation" class="active"><a href="{% url "categories" %}">Categories</a></li>
			<li role="presentation"><a href="{% url "payments" %}">Subscription</a></li>
	</ul>

	<div class='col-md-4 lot-data'>

		<div id='lotForm' class="panel panel-default">
  			<div class="panel-body">
	    		<form method="POST">{% csrf_token %}
	        		{{ form.as_p }}
	        		<button type="submit" class="btn btn-success btn-col-width add-cat-btn">Add Category</button>
	    		</form>
			</div>
		</div>
	</div>

	<div class='col-md-8 lot-data'>
		<div class="panel panel-default">
			<ul class="list-group">
				{% for cat in categories %}
		    		<li class="list-group-item">
		    			{{ cat.name }}
		    			<a href="{% url "edit" pk=cat.pk %}"><span class="glyphicon glyphicon-pencil to-the-right" aria-hidden="true"></span></a>
		    		</li>
			    {% endfor %}
			</ul>
		</div>
	</div>

{% endblock content %}
