{% extends "lanternapp/base.html" %}

{% block content %}

	<h1>Manage</h1>

	<ul class="nav nav-tabs nav-justified manage-nav">
			<li role="presentation" class="active"><a href="{% url "settings" %}">Account Settings</a></li>
			<li role="presentation"><a href="{% url "categories" %}">Categories</a></li>
			<li role="presentation"><a href="{% url "payments" %}">Subscription</a></li>
	</ul>

	<form method="POST">
		{% csrf_token %}
		<input type="submit" class="btn btn-success btn-col-width save-btn" value="Save">

		<div class='col-md-4 lot-data'>

			<div class="panel panel-default">
				<div class="panel-heading">Theme</div>
				<ul class="list-group">
			    	<li class="list-group-item">Dark</li>
				    <li class="list-group-item">Light</li>
				    <li class="list-group-item">Professional</li>
				    <li class="list-group-item">Bootstrap</li>
				    <li class="list-group-item">The Bay</li>
				    <li class="list-group-item">Craig</li>
				</ul>
			</div>
		</div>

		<div class='col-md-8 lot-data'>

			<div class="panel panel-default">
				<div class="panel-heading">Account</div>
		  		<ul class="list-group">
			    	<li class="list-group-item">Name: 
			    		<div class="fieldWrapper">
			    			{{ form.first_name }}
						</div>
			    	</li>
				    <li class="list-group-item">Email: 
				    	<div class="fieldWrapper">
			    			{{ form.email }}
						</div>
				    </li>
				    <li class="list-group-item">App Title: 
				    	<div class="fieldWrapper">
			    			{{ form.app_title }}
						</div>
				    </li>
				    <li class="list-group-item">Theme: 
				    	<div class="fieldWrapper">
			    			{{ form.app_theme }}
						</div>
				    </li>
				    <li class="list-group-item">Would you like to change your password?
				    	<div class="fieldWrapper">
			    			{{ form.new_password }}
						</div>
				    </li>

				</ul>
			</div>

		</div>
	</form>

{% endblock content %}
